*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px;
    text-align: center;

     position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    transition: all 0.3s ease;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.encabezado img{
    height: 65px;
    
}

.search-container {
    position: relative;
    width: 98%;
    margin: 20px auto;
}


.search-container input {
    width:100%;
    padding: 15px 55px 15px 15px; /* espacio a la derecha para la lupa */
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #ccc;
}

.search-container input::placeholder{
    color: #999;
    opacity: 1;
    font-size: 18px;
}
.search-container i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.cards {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    
}

.card {
    width: 100%;
    height: 280px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}



.card_image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    
    
}

.card_title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 14px;
    
}


.card_subtitle {
    font-size: 14px;
    color: #777;
}

.card_title,
.card_subtitle {
    padding: 0 15px;
}

footer {
    background: #f5f5f5;
    padding: 30px 40px;
    margin-top: 40px;
    
   
}

.contact {
    margin-bottom: 25px;
}

.contact h4 {
    margin-bottom: 10px;
}

.contact p {
    margin: 4px 0;
    font-size: 14px;
}



.quicksell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.quicksell img {
    height: 32px;
}

.quicksell {
    justify-content: center;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    background: white;
    padding: 10px 14px;
    border-radius: 25px;
    text-decoration: none;
    color: black;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 1000;
}

.chat-button img {
    height: 30px;
}

.chat-button:hover {
    transform: scale(1.05);
}




